.home-page .el-carousel__container {
    height: 500px;
}

/* 登录页面 */
.login-page .el-form-item__label {
    color: #fff !important;
}

.login-page .el-input__inner {
    transition: all 0.5s;
    height: 40px;
    line-height: 100%;
    overflow: hidden;
    color: #fff !important;
    background-color: transparent !important;
}

.subMenu .el-menu-item-group__title {
    padding: 0;
    line-height: normal;
    font-size: 12px;
    color: #909399;
}

.subMenu .iconfont {
    font-size: 21px;
    margin: 0 18px 0 5px;
}

.login-page .subMenu .iconfont {
    font-size: 21px;
    margin: 0 18px 0 5px;
}

/* 验证码 */
.login-page .captcha {
    width: 38% !important;
    float: left !important;
}

.login-page .captcha-svg svg {
    width: 120px !important;
    height: 40px !important;
    float: right;
}


.product .has-gutter {
    line-height: 40px !important;
}